@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    margin: 0 auto;
    background-color: white;
}

h1 {
    color: red;
}

/* Animations for dropmenu */
@keyframes dropDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-dropDown {
    animation: dropDown 300ms ease-in-out forwards;
}
