@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
    --header-height: 114px;
    --header-height-desktop: 142px;
    --yrgo-red: #f52a3b;
    --marine1: #ccd1dc;
    --marine2: rgba(0, 26, 82, 0.5);
    --marine3: #2f3c58;
    --marine4: #001a52;
    --text1: #333;
}

/* Animations for dropmenu */
@keyframes dropDown {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
@keyframes dropDownReverse {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}
@keyframes dropText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-dropText {
    animation: dropText 200ms ease-in-out forwards;
}
.animate-dropDown {
    animation: dropDown 400ms ease forwards;
    transform-origin: top center;
}
.animate-dropDownReverse {
    animation: dropDownReverse 400ms ease forwards;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 auto;
    background-color: white;
}

.page-height {
    height: calc(100vh - var(--header-height));
}

.text-padding {
    padding: 28px 24px;
}

.rounded-full {
    border-radius: 100%;
}

/* Buttons */

.btn,
.btn-marine {
    max-width: 215px;
    display: inline-flex;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    border: 1px solid var(--marine3);
}

/* .next-btn {
    background-color: var(--marine4);
    color: white;
} */

.btn-marine {
    background-color: var(--marine4);
    color: #f2f2f2;
    padding: 16px 44px;
}

.btn-1:hover,
.btn-1:active {
    background-color: var(--marine3);
    color: var(--marine1);
}

.btn-2:hover,
.btn-2:active,
.btn-marine:hover,
.btn-marine:active {
    background-color: var(--marine1);
    color: var(--marine3);
}

.btn-3:hover,
.btn-3:active {
    background-color: white;
    border: 1px solid var(--marine1);
}

footer a {
    color: #828282;
}

a:active,
a:hover {
    color: black;
    opacity: 70%;
}

.error-container {
    color: white;
    margin-top: 20%;
    background-color: var(--yrgo-red);
}

/* Header & paragraph styles */

h1 {
    font-size: 82px;
    font-weight: 300;
    line-height: 92px;
    letter-spacing: -1.5px;
}

h2 {
    font-size: 60px;
    font-weight: 300;
}

h3 {
    font-size: 48px;
    font-weight: 400;
}

h4 {
    font-size: 34px;
    font-weight: 300;
    line-height: 36px;
}

h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

.h5-2 {
    font-size: 21px;
    font-weight: 300;
    line-height: 27px;
}
¨ .h5-2-mobile {
    font-size: 40px;
    font-weight: 300;
    line-height: 53px;
}

h6 {
    font-size: 20px;
}

.p1,
.p2 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.p1 {
    font-weight: 400;
}

.p2,
.p3-tiny {
    font-weight: 300;
}

.p3-tiny {
    font-size: 14px;
}

@media screen and (min-width: 640px) {
    .page-height {
        height: auto;
    }

    h5 {
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
    }

    .page-height-desktop {
        height: calc(100vh - var(--header-height-desktop));
    }
}
