/* CSS for forms */

.register-container {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
}

.register-container > h6 {
    padding: 8px 0px;
    text-align: center;
}

.register-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gap-custom {
    gap: 10px;
}

input {
    padding: 8px 0px;
    background-color: unset;
    border-bottom: 1px solid black;
}

input:focus {
    outline: none;
}

.register-container button {
    align-self: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.register-container p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.register-container a {
    border-bottom: 1px solid black;
}
.register-container a:hover,
.register-container a:focus,
.register-container a:active {
    border-bottom: 1px solid var(--marine3);
    color: var(--marine3);
}

.form-about,
.form-info {
    display: none;
}

.form-bg {
    background-color: var(--marine1);
    padding: 24px 16px;
}

.form-bg h6 {
    text-align: center;
    margin-bottom: 16px;
}

.competence h6 {
    text-align: left;
}

/* Confirmation-box */

.checkbox-icon-confirmation {
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 36px;
    text-align: center;
    font-size: 14px;
}

#confirmation {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 24vh;
    flex-direction: column;
}

.confirmation-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--marine4);
    padding: 24px;
    color: white;
    margin-top: 24px;
    margin-bottom: 48px;
}

/* Login screen */

.login-student,
.login-company {
    display: none;
}

/* Custom checkbox styles */

.custom-checkbox input {
    width: 0;
}
.custom-checkbox .checkbox-icon {
    position: relative;
    display: inline-block;
    background-color: #fff;
    border-radius: 36px;
    padding: 8px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    border: 1px solid var(--marine1);
}

.custom-checkbox input:checked + .checkbox-icon {
    background-color: var(--marine1);
    border: 1px solid var(--marine3);
}

/* Error-msg */
#formError1,
#formError2,
#formError3 {
    color: red;
}

@media screen and (min-width: 640px) {
    .register-container {
        padding: 24px 14%;
    }
}
